.homeContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.homeTitle {
  color: #7b7bdf;
  width: 1024px;
  font-size: 20px;
}
.centerLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top: 50vh;
  position: relative;
  border: 2px solid #474787;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}