.header {
  background-color: #FFF;
  color: #474787;
  display: flex;
  justify-content: center;
  position: relative;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerContainer.listMode {
  margin: 20px 0px 0 0px;
}
.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerListItem.active {
  border: 2px solid #474787;
  padding: 10px;
  border-radius: 20px;
  background-color: hsla(0, 4%, 49%, 0.1);
}
.headerDesc {
  margin: 20px 0px;
}
.headerBtn {
  background-color: #fff;
  color: #706fd3;
  border: none;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
.headerBtnSearch {
  background-color: #474787;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
.headerSearch {
  /* height: 30px; */
  background-color: #fff;
  border: 2px solid #cbcbd3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: relative;
  bottom: -50px;
  /* width: 100%;
  max-width: 1024px; */
}

.headerIcon {
  color: #a5a5a5;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerSearchInput {
  border: none;
  outline: none;
  color: #a5a5a5;
  font-size: 15px;
}
.headerSearchText {
  color: #a5a5a5;
  cursor: pointer;
}
.date {
  position: absolute;
  top: 60px;
  z-index: 2;
}
.options {
  width: 250px;
  z-index: 2;
  position: absolute;
  top: 60px;
  background-color: #fff;
  color: gray;
  border-radius: 0.5rem;
  box-shadow: 0px 0.5rem 1rem 0px rgb(0 11 38 / 24%);
}
.optionItem {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
}
.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #474787;
  font-size: 12px;
}
.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #474787;
  color: #474787;
  cursor: pointer;
  background-color: #fff;
}
.optionCounterButton:disabled {
  cursor: not-allowed;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.loaderHeader {
  position: absolute;
  left: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #474787;
  border-bottom-color: #d3cece;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.searchResult {
  position: absolute;
  color: red;
  top: 60px;
  z-index: 999;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  width: 33%;
  height: auto;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgb(66 64 64 / 15%);
}
.notFound {
  font-weight: 300;
  text-align: center;
}
.searchResult ul {
  padding-left: 5px;
}
.searchResult ul li {
  list-style: none;
  padding: 5px;
  color: #525252;
}

.searchResult ul li:hover {
  cursor: pointer;
}
.roomTitle {
  text-align: center;
}
.btnAddRoom {
  border: none;
  color: #474787;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 5px;
  background-color: transparent;
}
.btnAddRoom:hover {
  cursor: pointer;
}
.optionItemAge > * {
  flex: 1;
}
.selectAge {
  padding: 3px;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  border-radius: 2px;
}
.optionAge {
  flex-direction: column;
  flex: 1;
}

.optionItemAge {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 12px;
}
